@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryColor: #53713D;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-image: url('../images/background.jpg');
    color: white;
    display: flex;
    justify-content: center;
    
    .dark-tint {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgaba(0,0,0,0.4);
    }

    h1 {
        margin-top: 100px;
        text-decoration: overline;
        -webkit-text-stroke: 2px $primaryColor;
        font-size: 4rem;
    }
}

nav {
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 15%;
    padding-right: 5px;

    ul {
        list-style: none;
        line-height: 50px;
        letter-spacing: .2rem;
        font-size: 1.25rem;
    }

    li:hover {
        cursor: pointer;
    }
    
}

.about.active, .gallery.active {
    display: block;
    right: 0;
    transition: .5s all ease-in;
    animation-name: slideOut;
}

.about {
    display: none;
    position: absolute;
    right: -100%;
    min-height: 100%;
    width: 85%;
    background: #F1F3ED;
    transition: .5s all ease-in;
    animation-name: slideIn;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .2rem;
        margin-top: 50px;
        color: white;
        -webkit-text-stroke: 2px $primaryColor;
    }

    .bio {
        display: flex;

        .image-container {
            position: relative;
            display: inline-block;
            min-width: 300px;
            min-height: 300px;
            border: 4px solid $primaryColor;
            margin-left: 20px;
            
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        p {
            align-self: center;
            color: $primaryColor;
            font-size: 2rem;
            line-height: 50px;
            letter-spacing: .2rem;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}

.tweet {
    margin-top: 20px;
    transform: translate(-50%);
    background: white;
    max-width: 420px;
    display: flex;
    padding: 15px;
    border: 2px solid $primaryColor;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;   
    }
    
    .content {
        padding-left: 20px;
        .user-info {
            display: flex;
            .username {
                font-size: 1.3rem;
            }
            .usernameAT {
                font-size: 1rem;
                margin-left: 5px;
                margin-top: 3px;
                color: grey;
            }
        }
    }
}

.carousel-item {
    margin-top: 20px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%313131' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%313131' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.gallery {
    display: none;
    position: absolute;
    right: -100%;
    min-height: 100%;
    width: 85%;
    background: #F1F3ED;
    transition: .5s all ease-in;
    animation-name: slideIn;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: .2rem;
        margin-top: 50px;
        color: white;
        -webkit-text-stroke: 2px $primaryColor;
    }

    p {
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        margin-top: 50px;
        color: $primaryColor;
        line-height: 50px;
    }

    .images-container {
        padding: 50px;
        width: 100%;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        // grid-column-gap: 1em;
        display: flex;
        flex-wrap: wrap;
        // flex-basis: 20%;
    }
}

.image-container {
    position: relative;
    display: inline-block;
    // width: 20%;
    flex: 1 0 21%; /* explanation below */
    // border: 4px solid $primaryColor;
    
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.image-container:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    background: rgba(0,0,0,0.6);
}

.modal img {
    transform: translateX(10%);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}    

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}    
